<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>

<body>

    <style>
        /* Estilos personalizados */
        .navbar-custom {
            background-color: #03045E; /* Azul oscuro */
        }
        .navbar-custom .navbar-brand,
        .navbar-custom .nav-link,
        .navbar-custom .navbar-text {
            color: #FFFFFF;
        }
        .btn-register {
            background-color: #00C8C8;
            color: white;
        }
        .footer {
            background-color: #03045E; /* Azul oscuro */
            color: #FFFFFF;
            padding: 20px 0;
        }
        .footer a {
            color: #00C8C8;
            text-decoration: none;
        }
        .footer a:hover {
            text-decoration: underline;
        }
    </style>


<!-- Navbar -->
<nav class="navbar navbar-custom navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="@Url.Action("Index", "Home")">
      <img src="../img/Logo_claro.png" alt="Logo" style="height: 40px;"> <!-- Ajusta el tamaño aquí -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Viaja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quiénes somos</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Ayuda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="@Url.Action("Login", "Home")">¿Ya tienes una cuenta?</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary"><a href="@Url.Action("Registrarse", "Home")">Registrarse</a></button>
        </li>
      </ul>
    </div>
  </div>
</nav>



<!-- Footer -->
<footer class="footer">
    <div class="container text-center">
        <p>SmarTrip</p>
        <p>El socio de todos de tus viajes</p>
        <div class="row">
            <div class="col-md-4">
                <a href='@Url.Action("Ayuda", "Home")'>Ayuda</a>
            </div>
            <div class="col-md-4">
                <a href='@Url.Action("Viaja", "Home")'>Viajar</a>
            </div>
            <div class="col-md-4">
                <a href='@Url.Action("QuienSomos", "Home")'>¿Quiénes somos?</a>
            </div>
        </div>
        <div class="mt-3">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-envelope"></i></a>
        </div>
    </div>
</footer>

    <header>
   
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
