<form method="post" id="Olvidar2" asp-controller="Account" onsubmit="return enviarForm3();">
        <label for="contraseña">Ingrese su nueva contraseña: </label>
        <input type="password" id="contraseña" name="contraseña" required>
        <label for="confirmar_contraseña">Confirme su nueva contraseña: </label>
        <input type="password" id="confirmar_contraseña" name="confirmar_contraseña" required>
        <input type="hidden" id="email" name="email" value = "@ViewBag.user.email">
        <input type="hidden" id="nombre" name="nombre" value = "@ViewBag.user.nombre">
        <input type="hidden" id="apellido" name="apellido" value = "@ViewBag.user.apellido">
        <input type="hidden" id="fechaNacimiento" name="fechaNacimiento" value = "@ViewBag.user.fechaNacimiento">
        <input type="hidden" id ="genero" name="genero" value= "@ViewBag.user.genero" >
        <input type="submit" value="Continuar">
    </form>