@{
    ViewData["Title"] = "Viajar - SmarTrip";
}
<form action="@Url.Action("guardarViaje", "Account")" method="post" class="viajar">
    <div>
        <div class="text-section">
            <h2>Consultá un viaje</h2>

            <div class="input-container">
                <input type="text" class="input-field" name="ubicacionInicial" id="start" placeholder="Ingresá tu ubicación" onkeyup="predictDire('start')" value="@ViewBag.Inicio" required>
                <img src="~/img/ingresarUbi.png" alt="Icono de ubicación" class="input-icon">
                <ul id="start-suggestions" class="suggestions-list"></ul>
            </div>

            <div class="input-container">
                <input type="text" class="input-field" name="ubicacionFinal" id="end" placeholder="Ingresá tu destino" onkeyup="predictDire('end')" value="@ViewBag.Final" required>
                <img src="~/img/ingresarDest.png" alt="Icono de ubicación" class="input-icon">
                <ul id="end-suggestions" class="suggestions-list"></ul>
            </div>

            <div class="input-container">
                <label for="fecha">Fecha:</label>
                <input type="date" class="input-field" name="fecha" id="fecha" required>
            </div>

            <div class="input-container">
                <label for="hora">Hora:</label>
                <input type="time" class="input-field" name="hora" id="hora" required>
            </div>

            <div class="input-buttons">
                <button id="openModalBtn" type="button" onclick="buscarRutaDesdeFormulario()" class="cta-button">Ver precios</button>
            </div>
        </div>
    </div>
    
    <div id="overlay" class="overlay">
        <div class="overlay-content">
            <h3 id="eligeRuta">Elige un viaje</h3>

            <div class="contPrecio">
                <label for="opcionDidi">
                    <input type="radio" name="empresa" id="opcionDidi" value="DiDi" required>
                    <img src="~/img/didi.png" alt="DiDi Logo">
                    <h4 name = "costo" id="precioDidi">--</h4>
                    <h6 class="tiempo" id="tiempo">--</h6>
                    <input type = "hidden" name = "costoDidi" id = "precioDidi1">
                </label>
            </div>

            <div class="contPrecio">
                <label for="opcionUber">
                    <input type="radio" name="empresa" id="opcionUber" value="Uber" required>
                    <img src="~/img/uber.png" alt="Uber Logo">
                    <h4 name = "costo" id="precioUber">--</h4>
                    <h6 class="tiempo" id="tiempo1">--</h6>
                    <input type = "hidden" name = "costoUber" id = "precioUber1">
                </label>
            </div>

            <div class="contPrecio">
                <label for="opcionCabify">
                    <input type="radio" name="empresa" id="opcionCabify" value="Cabify" required>
                    <img src="~/img/cabify.png" alt="Cabify Logo">
                    <h4 name = "costo" id="precioCabify">--</h4>
                    <h6 class="tiempo" id="tiempo2">--</h6>
                    <input type = "hidden" name = "costoCabify" id = "precioCabify1">
                </label>
            </div>

            <div class="metodoPago">
                <select class="form-control-pago" id="metodoPago" name="metodoPago" required>
                    <option value="">Método de Pago</option>
                    <option value="efectivo">Efectivo</option>
                    <option value="mercadoPago">Mercado Pago</option>
                </select>
            </div>
            <button id="viajarBtn" type="submit" class="cta-button botonViajar">Viajar</button>
        </div>
    </div>

    <div id="map" style="width: 30%;"></div>
</form>
</div>
<script>
    const inicio = "@(ViewBag.Inicio ?? "")";
    const destino = "@(ViewBag.Final ?? "")";
    let startCoords = {
        lat: parseFloat("@(ViewBag.InicioLat ?? "")"),
        lon: parseFloat("@(ViewBag.InicioLon ?? "")"),
    };
    let endCoords = {
        lat: parseFloat("@(ViewBag.FinalLat ?? "")"),
        lon: parseFloat("@(ViewBag.FinalLon ?? "")")
    };
    console.log(startCoords.lat, startCoords.lon, endCoords.lat, endCoords.lon);
    </script>
